.notifyContainer{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: absolute;
    min-width: 20vw;
    max-width: 20vw;
    top: 0;
    right: 0;
    padding: 10px 10px;
    transition: 0.3s;
}
.notifyBox{
    display: none;
    padding: 8px 15px;
    font-family: Arial, serif;
}
.notifyInfo{
    background-color: #7d7dfa;
}
.notifySuccess{
    background-color: #7dfc89;
}
.notifyWarning{
    background-color: #fd827f;
}