<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>MainPage</title>
    <link rel="stylesheet" type="text/css" href="/Public/css/notify.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/Public/js/DataService.js"></script>
    <script src="/Public/js/Notify.js"></script>
</head>
<body>
    Kukucs
<script>

</script>
</body>
</html>